<section>
    <h2 *ngIf="!isEdit" class="text-xl text-blue-800 font-semibold text-center mb-6">ADD NEW USER</h2>
    <h2 *ngIf="isEdit" class="text-xl text-blue-800 font-semibold text-center mb-6">EDIT USER</h2>
    <!-- <form class="w-full max-w-lg m-auto" enctype="multipart/form-data"> -->
    <form [formGroup]="userForm" (ngSubmit)="submit()" class="w-full max-w-lg m-auto">
        <!-- <div class="w-full mb-6 flex items-center justify-around">
        <div class="h-32 w-32 rounded-full overflow-hidden flex items-center bg-slate-400">
          <img class="object-cover" src="" alt="Select Image">
        </div>
        <div class="text-center">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload Profile Image</label>
          Upload Profile Image
          <input name="userImg" accept="image/*" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
        </div>
      </div> -->
        <input *ngIf="isEdit" formControlName="id" class="hidden" type="text">
        <div class="w-full mb-6 flex items-center justify-around">
            <div class="w-full px-24 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                    Name
                </label>
                <input formControlName="name" id="name"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text" placeholder="Enter name" autocomplete="on">
                <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="ms-3 -m-4">
                    <small class="text-red-500 text-xs italic" *ngIf="userForm.get('name')?.errors?.['required']">Name
                        is
                        Required</small>
                    <small class="text-red-500 text-xs italic" *ngIf="userForm.get('name')?.errors?.['minlength']">Name
                        requires
                        min 3 characters</small>
                    <!-- <small class="text-red-500 text-xs italic" *ngIf="userForm.get('name')?.value?.trim()?.length">Name requires min 3 characters</small> -->
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                    Email
                </label>
                <input formControlName="email" id="email"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text" placeholder="email@xxx.com" autocomplete="on">
                <div class="ms-3 -m-4" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                    <small class="text-red-500 text-xs italic" *ngIf="userForm.get('email')?.errors?.['required']">Email
                        is
                        Required</small>
                    <small class="text-red-500 text-xs italic" *ngIf="userForm.get('email')?.errors?.['pattern']">Email
                        is not
                        valid</small>
                </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="mobile">
                    Mobile
                </label>
                <input formControlName="mobile" id="mobile"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="text" placeholder="9*********">
                <div class="ms-3" *ngIf="userForm.get('mobile')?.invalid && userForm.get('mobile')?.touched">
                    <small class="text-red-500 text-xs italic"
                        *ngIf="userForm.get('mobile')?.errors?.['required']">Mobile is
                        Required<br></small>
                    <small class="text-red-500 text-xs italic"
                        *ngIf="userForm.get('mobile')?.errors?.['minlength']">Mobile
                        requires min 10 digits<br></small>
                    <small class="text-red-500 text-xs italic"
                        *ngIf="userForm.get('mobile')?.errors?.['pattern']">Please enter
                        valid Mobile number</small>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password">
                    Password
                </label>
                <input formControlName="password"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="password" type="password" placeholder="***************" autocomplete="on">
                <p class="text-gray-600 text-xs italic">Min 4 characters with alpha-numeric values.</p>
                <div class="ms-3" *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
                    <small class="text-red-500 text-xs italic"
                        *ngIf="userForm.get('password')?.errors?.['required']">Password is
                        Required<br></small>
                    <small class="text-red-500 text-xs italic"
                        *ngIf="userForm.get('password')?.errors?.['minlength']">Password
                        requires min 4 characters<br></small>
                    <small class="text-red-500 text-xs italic"
                        *ngIf="userForm.get('password')?.errors?.['pattern']">Invalid
                        password format</small>
                </div>
            </div>
        </div>
        <div class="flex mb-6 gap-3">
            <div class="w-full  mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="outlet">
                    Outlet
                </label>
                <div class="relative">
                    <select formControlName="outlet" id="outlet"
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        <option *ngFor="let outlet of outlets" value="{{outlet.name}}">{{outlet.name}}</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mb-6 gap-3">
            <div class="w-full mb-6 md:mb-0">
                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    Role
                </p>
                <div class="flex ites-center justify-between">
                    <div *ngFor="let role of roles; let i=index" class="col-md-2">
                        <label>
                            <input type="checkbox" id="role{{i+1}}" [value]="role" (change)="onCheckChange($event)">
                            {{role}}
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group mt-6 mb-2 text-center">
            <button type="submit" class="bg-blue-800 py-1 w-40 text-white rounded-lg px-3">
                <span *ngIf="!isLoading">SAVE DETAILS</span>
                <div *ngIf="isLoading" class="flex justify-center" role="status">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-200 animate-spin fill-blue-600"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
            </button>
        </div>
    </form>
</section>